@use "../utils/colours";

.content__graphs--dailyActivity-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: colours.$black-graphLabel;

  & > ul {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    color: colours.$grey-graphLabel;
    font-size: 0.874rem;

    & > li {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.content__graphs--stats {
  &-container {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    padding: 24px;
    background-color: colours.$grey-background;

    display: flex;
    align-items: center;
    gap: 24px;
  }

  &-data{
    &-figure{
      color: colours.$black-dataLabel;
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
    &-intake {
      color: colours.$grey-graphLabel;
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
  }
}

.content__graphs--averageSessions {
  color: colours.$white-transparentText;
}

.content__graphs--averageSessions-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: colours.$black-overlay;
}