@use "../utils/colours";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.header__menu {
  background-color: colours.$black-background;

  height: 88px;
  padding: 24px 88px 24px 16px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  & ul {
    color: colours.$white-point;
    font-weight: 500;
    font-size: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}

main {
  display: flex;

  & .leftbar{
    position: relative;

    background-color: colours.$black-background;
    width: 12px;
    height: calc(100vh - 88px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__badges{
      color: colours.$white-point;

      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &> ul{
        display: flex;
        flex-direction: column;
        gap: 16px;

        &> li{
          cursor: pointer;
        }
      }

    }

    &__copyright {
      position: absolute;
      bottom: 56px;
      color: colours.$white-point;
      font-size: 0.75rem;
      writing-mode: sideways-lr;
    }
  }

  .content{
    flex: 1;
    padding: 64px 88px;

    display: flex;
    flex-direction: column;

    &__greetings {
      height: 176px;

      & > .hello {
        font-size: 3rem;
        line-height: 2;
        font-weight: 500;

        & > .firstname {
          color: colours.$orange-text;
        }
      }

      & > .encouragement {
        font-size: 1.125rem;
      }
    }

    &__graphs {
      flex: 1;

      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 24px;

      & > * {
        border-radius: 8px;
        overflow: hidden;
      }

      &--dailyActivity {
        background-color: colours.$grey-background;
        grid-column: 1 / 10;
        grid-row: 1 / 2;

        padding: 24px;
      }

      &--stats {
        background-color: green;
        grid-column: 10 / 13;
        grid-row: 1 / 3;
      }

      &--averageSessions {
        background-color: purple;
        grid-column: 1 / 4;
        grid-row: 2 / 3;
      }

      &--categories {
        background-color: orange;
        grid-column: 4 / 7;
        grid-row: 2 / 3;
      }

      &--score {
        background-color: yellow;
        grid-column: 7 / 10;
        grid-row: 2 / 3;
      }
    }
  }
}