$black-point: #000000;
$black-background: #020203;

$black-dataLabel: #282D30;
$black-graphLabel: #20253A;
$grey-graphLabel: #74798C;

$grey-background: #FBFBFB;

$orange-text: #ff0101;

$white-point: #ffffff;